*.png
*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
*/*/*/*/*/*.png
*/*/*/*/*/*/*.png
*.jpeg
*/*.jpeg
*/*/*.jpeg
*/*/*/*.jpeg
*/*/*/*/*.jpeg
*/*/*/*/*/*.jpeg
*/*/*/*/*/*/*.jpeg
__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/*/__pycache__/
inpainting_by_example/data/voc/ImageSets/Main/test.txt
inpainting_by_example/data/voc/ImageSets/Main/trainval.txt
inpainting_by_example/data/voc/Annotations/
inpainting_by_example/models/
inpainting_by_example/data/voc/JPEGImages/
inpainting_by_example/data/voc_test/
Paint-by-Example/README.md
Paint-by-Example/dataset/
Paint-by-Example/examples/
Paint-by-Example/figure/
Paint-by-Example/fruit/
Paint-by-Example/pretrained_models/
Paint-by-Example/src/
Paint-by-Example/models/